body, html {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: none;
    text-decoration: none;
    font-size: 14px;
    line-height: 1;
}

.button:visited {
    text-decoration: none;
}

.button-primary {
    background-color: #FF8C19;
    color: #ffffff;
}

.button-primary:visited {
    color: #ffffff;
}

/*Все что связано с header*/

.header {
    position: relative;
    background-repeat: no-repeat;
    /* background-color: #42474C; */
    background-position: 50% 50%;
    background-size: cover;
    padding: 10px 0;
    box-shadow: 0 5px 25px rgba(0,0,0, .26);
}

.header:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
}

.header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.header .logo {
    font-weight: bold;
    color: #eee;
    text-decoration: none;
}

.header .logo:visited {
    color: #eee;
    text-decoration: none;
}

.header .logo:hover {
    text-decoration: underline;
}

.nav {
    display: flex;
}

.nav a {
    font-size: 19px;
    color:#eee;
    padding: 0 20px;
    text-decoration: none;
}

.nav a:visited {
    color: #eee;
    text-decoration: none;
}

/*Кнопка в header*/
.but {
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 12px 15px;
    position: relative;
    color: white;
    border: 1px solid rgba(255,255,255,.4);
    background: none;
    font-weight: 100;
}

.but:before,
.but:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}
.but:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid white;
  border-top: 1px solid white;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
.but:after {
  top: 0;
  right: 0;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
}
.but:hover:before,
.but:hover:after{
  height: 100%;
  width: 100%;
  opacity: 1;
}
.but:hover:before {transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;}
.but:hover:after {transition: 0s ease opacity .4s, .2s ease height .4s , .2s ease width .6s;}

.footer {
    background-color: #262525;
    padding: 80px 0;
}

.footer a, .footer a:visited {
    color: #eee;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer .about {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer .about a {
    padding-bottom: 10px;
}


.footer .info {
    flex: 1;
    color: #eee;
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.footer .info span {
    padding-bottom: 10px;
}

.footer .info .fa {
    font-size: 14px;
    color: #aaa;
    margin-right: 10px;
}

.content {
    flex: 1;
}


.table {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.table-item {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    border: 1px solid #eee;
    border-left-width: 2px;
    border-left-color: rgb(93, 147, 228);
    margin-bottom: 15px;
}

.table-item-body {
    display: flex;
}

.table-item-img {
    width: 40%;
    border-radius: 5px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.table-item-info {
    width: 60%;
    padding-right: 30px;
}

.table-row {
    display: flex;
    padding: 7px 0;
    border-bottom: 1px solid #eee; 
    font-size: 14px;
}

.table-row:last-child {
    border: none; 
}

.table-row strong {
    width: 50%;
    
}

.table-row span {
    width: 50%;
}

.table-item-footer {
    margin-top: 10px;
}
