body, html {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: none;
    text-decoration: none;
    font-size: 14px;
    line-height: 1;
}

a.button:visited, a.button:hover {
    text-decoration: none;
}

.button-primary {
    background-color: #FF8C19;
    color: #ffffff;
}

a.button-primary:visited, a.button-primary:hover {
    color: #ffffff;
}

.button-secondary {
    background-color: #5D93E4;
    color: #ffffff;
}

a.button-secondary:visited, a.button-secondary:hover {
    color: #ffffff;
}

.button-info {
    background-color: #078171;
    color: #ffffff;
}

a.button-info:visited, a.button-info:hover {
    color: #ffffff;
}

.button-default {
    background-color: #eee;
    color: #000000;
}

a.button-default:visited, a.button-default:hover {
    color: #000000;
}

.button-group .button {
    margin-right: 5px;
}

.button-group .button:last-child {
    margin-right: 0;
}

.button-submit {
    display:flex;
    justify-content:center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: none;
    text-decoration: none;
    font-size: 14px;
    line-height: 1;
    width: 20%;
    height:15%;
    background-color: #FF8C19;
    color: #ffffff;
}

.div-button-submit{
    display: flex;
    justify-content:flex-end;
    
}

.button-registry {
    display:flex;
    justify-content:center;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: none;
    text-decoration: none;
    font-size: 14px;
    line-height: 1;
    width: 20%;
    height:15%;
    background-color: #078171;
    color: #ffffff;
}
/*Все что связано с header*/

.header {
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    padding: 10px 0;
    box-shadow: 0 5px 25px rgba(0,0,0, .26);
}

.header:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
}

.header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.header .logo {
    font-weight: bold;
    color: #eee;
    text-decoration: none;
}

.header .logo:visited {
    color: #eee;
    text-decoration: none;
}

.header .logo:hover {
    text-decoration: underline;
}

.nav {
    display: flex;
}

.nav a {
    font-size: 19px;
    color:#eee;
    padding: 0 20px;
    text-decoration: none;
}

.nav a:visited {
    color: #eee;
    text-decoration: none;
}

/*Кнопка в header*/
.but {
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 12px 15px;
    position: relative;
    color: white;
    border: 1px solid rgba(255,255,255,.4);
    background: none;
    font-weight: 100;
}

.but:before,
.but:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}
.but:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid white;
  border-top: 1px solid white;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
.but:after {
  top: 0;
  right: 0;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
}
.but:hover:before,
.but:hover:after{
  height: 100%;
  width: 100%;
  opacity: 1;
}
.but:hover:before {transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;}
.but:hover:after {transition: 0s ease opacity .4s, .2s ease height .4s , .2s ease width .6s;}

.footer {
    background-color: #262525;
    padding: 80px 0;
}

.footer a, .footer a:visited {
    color: #eee;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer .about {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer .about a {
    padding-bottom: 10px;
}


.footer .info {
    flex: 1;
    color: #eee;
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.footer .info span {
    padding-bottom: 10px;
}

.footer .info .fa {
    font-size: 14px;
    color: #aaa;
    margin-right: 10px;
}

.content {
    flex: 1;
}


.table {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.table-item {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    border: 1px solid #eee;
    border-left-width: 2px;
    border-left-color: rgb(93, 147, 228);
    margin-bottom: 15px;
}

.table-item-body {
    display: flex;
}

.table-item-img {
    width: 40%;
    border-radius: 5px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.table-item-info {
    width: 60%;
    padding-right: 30px;
}

.table-row {
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid #eee; 
    font-size: 14px;
}

.table-row:last-child {
    border: none; 
}

.table-row strong {
    width: 50%;
    
}

.table-row span {
    width: 50%;
}

.table-item-footer {
    margin-top: 10px;
}



/*Стили для заявки на аренду*/

*, *:after, *:before {
    box-sizing: border-box;
}


.arenda  h1 {
    position: relative;
    text-align: center;
    margin: 50px 0;
}

 h1:before {
    position: absolute;
    content: '';
    width: 50px;
    height: 1px;
    background-color: #dedede;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
}


.form-app {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 400px;
    box-shadow: 0 4px 20px rgba(0,0,0, 0.06);
    border-radius: 5px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    
}


.form-appform :h2 {
    font-size: 18px;
}

.form-row {
    display: flex;
    margin-bottom: 30px;
}


.form-col-left {
    width: 40%;
    text-align: right;
    padding-right: 20px;
}

.form-col-right {
    width: 60%;
}

label {
    display: block;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.label-required {
    position: relative;
}

.label-required:before {
    position: absolute;
    content: '*';
    color: red;
    width: 10px;
    height: 10px;
    top: -5px;
    right: -10px;
}

input {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #dedede;
    border-radius: 5px; 
    outline: none;
}

input:focus {
    box-shadow: 0 0 0 1px #6c9ae2;
    border-color: #6c9ae2;
}
.select{
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #dedede;
    border-radius: 5px; 
    outline: none;
}
.select:focus {
    box-shadow: 0 0 0 1px #6c9ae2;
    border-color: #6c9ae2;
}
/*scc for table for admin*/
.table-info{
    width: 100%;
    box-shadow: 0 4px 20px rgba(0,0,0, 0.06);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    
}
.div-info-up {
    width: 100%;
    height: 250px;
   
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.info-up-left{
    width: 50%;
    height: 100%;
  
   
}
.info-up-right{
     width: 50%;
    height: 100%;
  
}
.div-info-bot{
    width: 100%;
    height: 250px;
}

.form_info{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 400px;
    box-shadow: 0 4px 20px rgba(0,0,0, 0.06);
    border-radius: 5px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px; 
}

.div-info-button{
   display: flex;
   flex-direction: row;
}
/**/

.cont-admin-right {
    display:flex;
    justify-content: center;
    background: #eee;
    width:85%;
}
.admin-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    min-height:800px;
    min-width: 450px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0, 0.06);   
}

.header-admin {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #525C68;
    box-shadow: 0 4px 25px rgba(0,0,0,0.26);
    padding: 20px 0;
}

.header-admin-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-admin a, .header-admin a:visited {
    color: #fff;
    text-decoration: none;
}

.header-admin a:hover {
    text-decoration: underline;
}

.header-admin-fio {
    color: #ddd;
}

.header-admin-nav a {
    padding: 0 20px;
}

.header-admin-logo {
    font-size: 20px;
}

.header-admin-logout {
    padding: 5px 20px;
    display: flex;
    background-color: #5D93E4;
    border-radius: 30px;
    font-size: 14px;
}

.content-admin {
    flex: 1;
    padding-top: 70px;
    background-color: #EDF2F4;
}
 /*таблица с общей информацией о заявках*/
.table-app {
    width: 100%;
    background-color: #fff;
    border-collapse: collapse; 
}

.table-app thead tr {
    border-bottom: 1px solid #dedede;
}

.table-app thead th {
    text-align: left;
    padding: 10px 15px;
    font-size: 14px;
}

.table-app th {
    text-align: left;
    padding: 10px 15px;
    font-size: 14px;
}
.table-app tbody tr {
   border-bottom: 1px solid #f1f1f1;
}

.table-app tbody td {
    text-align: left;
    padding: 10px 15px;
    font-size: 14px;
}
.table-app  td {
    text-align: left;
    padding: 10px 15px;
    font-size: 14px;
}

.table-app-btn-group {
    display: flex;
}

.table-app-btn {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    background-color: black;
    margin-right: 4px;
}

.table-app-btn:last-child {
    margin-right: 0;
}

.table-app-btn._eye {
    background-color: #525C68;
}

.table-app-btn._plus {
    background-color: #078171;
}

.table-app-btn._edit {
    background-color: #5D93E4;
}

.table-app-btn._trash {
    background-color: #DF4B41;
}

.table-app-btn .fa {
    font-size: 12px;
    color: #fff;
}

.footer-admin {
    background-color: #525C68;
    padding: 20px 0;
    color: #ffffff;
    text-align: center;
}

/*registry*/

.form-registry {
    min-height: 400px;
    max-width: 1000px; 
    padding: 20px 0;
}

/*add app*/
.add-app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
}

.div-org-add{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #fff;
}
.div-selector-add{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.div-selector {
    padding: 20px;
}

.add-app-footer {
    display: flex;
    justify-content: flex-end;
}

.div-org-edit-left {
min-width: 500px;
}
.div-org-edit-right {
  min-width: 500px;
}

.form-entry {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px 30px;
    border-radius: 4px;
    border: 1px solid #dedede;
}

.form-entry-row {

}

.form-entry-field {
    margin-bottom: 20px;
}

.form-entry-field label {
    margin-bottom: 5px;
}

.form-entry-submit {
    margin-top: 30px;
}

.form-entry-submit button {
    width: 100%;
}

.form-entry-errors {

}

.form-entry-errors p {
    
}